## Build artifacts ##
bin/
obj/
out/

## User-specific files ##
*.user
*.suo
*.sln.docstates
.vs/

## NuGet ##
packages/
*.nupkg

## Logs and temp ##
*.log
*.tmp
*.cache

## Compiled code ##
*.dll
*.exe
*.pdb

## Others ##
.vscode/